<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h2>Bienvenido a la Página Principal</h2>


    
    <!-- Botón para dirigir a la página de registro -->
    <a href="{% url 'registro' %}"><button>Registrarse</button></a>

    <!-- Botón para dirigir a la página de inicio de sesión -->
    <a href="{% url 'inicio_sesion' %}"><button>Iniciar Sesión</button></a>

    
    <!-- Contenido de la página principal -->

    {% block content %}{% endblock %}
</body>
</html>
